.popup {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 16, 27, .7);
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: opacity 0.3s ease;
    z-index: -2;
}

.popup.open {
    opacity: 1;
    visibility: visible;
    z-index: 70;
}

.popup__body {
    width: 100%;
    min-height: 100%;
    padding: 30px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup__content {
    position: relative;
    box-sizing: border-box;
    max-width: 630px;
    min-height: 430px;
    padding: 40px;
    background: rgba(56, 55, 55, 1);
    text-align: center;
}


.popup__content.popup__content--white {
    background: var(--bg);
    color: var(--black);
}


.popup__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
}

.popup__btn {
    margin-top: 30px;
    position: absolute;
    width: 35px;
    height: 35px;
    top: -30px;
    right: 0px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;

    display: flex;
    align-items: center;
    justify-content: center;
}

.form__input {
    color: var(--biege);
    margin-bottom: 5px;
    border-bottom: 1px solid var(--biege);
    background-color: inherit;
    padding-bottom: 20px;
}

@media (max-width: 767px) {
    .popup__title {
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 20px;
    }

}